$background-color: #31152B;
$textbox-color: #723147;
$highlight: #F9E4AD;
$highlight-strong: #F7E791;
$element: #CC4452;
$element-lighter: #E84D5D;
$element-darker: #7D2A32;
$text-default: #F9E4D3;
$lightbox: rgba( black, .6);